<ion-header>
    <ion-toolbar>
      <ion-title color="secondary">Egreso</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-list lines="full" *ngIf="expense">
      <ion-item>
          <ion-label position="floating" required color="light"> Producto</ion-label>
        <ion-input required type="test" color="light"
          [(ngModel)]="expense.product" required></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating" color="light">Precio</ion-label>
        <ion-input required type="number" color="light"
          [(ngModel)]="expense.expense" required></ion-input>
        </ion-item>
      <ion-item>
        <ion-label position="floating" color="light">Descripcion</ion-label>
        <ion-input required type="text" color="light"
          [(ngModel)]="expense.description"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" color="light" >Categoria</ion-label>
          <ion-select placeholder="Selecciona categoria" class="placeholderColor"
              [(ngModel)]="expense.category">
            <ion-select-option>Comida</ion-select-option>
            <ion-select-option>Luz</ion-select-option>
            <ion-select-option>Electricidad</ion-select-option>
            <ion-select-option>Cable</ion-select-option>
            <ion-select-option>Telefono</ion-select-option>
            <ion-select-option>Otro</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label position="floating" color="light">Fecha</ion-label>
        <ion-datetime displayFormat="MM DD YYYY" placeholder="Selecciona la fecha..." [(ngModel)]="expense.date"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-button (click)="saveExpense()" color="secondary" shape="round" >Guardar</ion-button>
    <ion-fab vertical="bottom" horizontal="end" sllot="fixed" color="danger" vertical="medium">
      <ion-fab-button color="danger" [routerLink]="['/tab3']" routerDirection="forward" (click)="onRemove()" >
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  