<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-label color="light">Ingresos</ion-label>
  </ion-item>
  <ion-card>
      <ion-card-content>
          <canvas #lineCanvas></canvas>
        </ion-card-content>
      </ion-card>
  <ion-item>
    <ion-label color="light">Egresos</ion-label>
  </ion-item>
  <ion-card>
      <ion-card-content>
          <canvas #lineCanvas1></canvas>
        </ion-card-content>
      </ion-card>
</ion-content>
