ion-select{
    --background: linear-gradient(#000000, #607d8b);
    
}
ion-select .select-placeholder {
    opacity: 1 !important;
    color: aquamarine;
}

.placeholderColor{
	color:#e7fdf7 !important;
}
.btn{
    color: "secondary";
    --shape: "round";
  }
  .datetimeColor{
	color: rgb(136,168,39) !important;
}